<% title 'Student application'  %>
<% description 'Student application' %>

<style>
  h1 {
      font-size: 32px !important;
  }
</style>

<div id="shop">

  <section class="container">

    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="owl-carousel controlls-over product-image" data-plugin-options='{"items": 3, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
          <%= img_for_slider(@student, @student.photo1) %>
          <%= img_for_slider(@student, @student.photo2) %>
          <%= img_for_slider(@student, @student.photo3) %>
        </div>
        <div class="socialApis">
          <h3 class="page-header">Tell about us to your friends</h3>
        </div>

      </div>

      <div class="col-sm-6 col-md-6">

        <h1 class="product-title">Student "<%= @student.name %>"</h1>

        <span class="lead">
          University: <%= @student.university %>
        </span>
        <br />

        <div class="desc">
          <h3 class="page-header">Motivation letter:</h3>
          <p>
            <%= raw(@student.description) %>
          </p>
        </div>



      </div>
    </div>

    <h3 style="margin-bottom: 13px !important;"><%= @student.name %> recomendations</h3>

    <div class="modal fade" id="reviewmodalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" id="reviewmodalWindowbody">
          </div>
        </div>
      </div>
    </div>

  </section>
</div>


